
@{ 
    var LimiteId = string.Empty;
    var LimiteCredito = 0;
}
<h2>Venda para o Cliente</h2>

<form method="post" asp-controller="Home" asp-action="Venda">
    <div class="row">
        <div class="col">
            <label>ID do cliente</label>
            <input type="text" class="form-control" name="id" value="@LimiteId" />
        </div>

        <div class="col">
            <label>Valor da venda</label>
            <input type="text" class="form-control" name="valor" value="@LimiteCredito" />
        </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-block btn-primary">Vender</button>
</form>
<hr />
<table class="table table-striped table-bordered table-dark">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Limite credito</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in (List<LimiteCliente>)ViewBag.Lista)
        {
            <tr>
                <td>@item.LimiteId</td>
                <td>@item.Nome</td>
                <td>@item.LimiteCredito</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function RedirecionaVenda() {
        window.location.href = window.location.origin + "/Home/VendaConcluida/";
    }
</script>